body {
    margin: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #283343;
    margin-top: 70px;
    padding: 70px;
    border-radius: 3px;
}

#before {
    margin: none;
}

#after {
    display: flex;
    justify-content: flex-start;
}

p.password-text {
    flex: 1;  /* Take available space */
    height: 20px;
    text-align: left;
    margin: 0;
    color: #4ADF86;
    overflow: hidden; /* Avoid text overflow */
    white-space: nowrap; /* Ensure the text stays on one line */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

.copy-icon {
    display: none; /* Hide icon by default */
    cursor: pointer;
    color: #4ADF86;
    font-size: 18px;
    margin-left: 10px;
    padding: 5px;
}

.copy-icon:hover {
    color: #00ff99;
}

#first, #second {
    display: flex;
    align-items: center; /* Align items vertically */
    background-color: #313f52;
    padding: 5px 10px;
    border-radius: 5px;
    color: #4ADF86;
    width: 250px;
    height: 30px;
    margin-right: 0px;
    justify-content: space-between; /* Space between password and icon */
}

#second {
    margin-left: 20px;
}

h1 {
    margin: none;
    padding: none;
}

#line-one {
    color: white;
}

#line-two {
    color: #4ADF86;
}

h5 {
    color: #D5D4D8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

button {
    background-color: #3bc171;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 20px;
    font-weight: bolder;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #249d55;
}

hr {
    height: 1px;
    border-width: 0;
    color: rgb(73, 63, 63);
    background-color: gray;
    border-radius: 4px;
    margin: 30px 0px;
}


 @media (max-width: 768px) {
    .container {
        margin-top: 50px;

    }

    #after {
        flex-direction: column;
    }

    #first{
        flex: 1 1 100%;
        margin-left: 0;
    }
    #second {
        flex: 1 1 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    p{
        margin: none;
        text-align: center;
    }

    button {
        width: 100%;
        font-size: medium;
        padding: 8px 10px;
    }
    hr{
        margin: none;
    }
}

@media (max-width: 480px) {
    p {
        max-width: none;
    }

    button {
        font-size: small;
    }
    hr{
        margin: none;
    }
}
